// src/components/articleDetails/articleDetails.module.scss

.modalBackdrop {
    position: fixed;  // Fixed positioning to cover the entire screen
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);  // Semi-transparent background
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;  // Ensure it's above other content
}

.modalContent {
    position: relative;  // Add this line
    background-color: white;  // White background for the modal
    border-radius: 15px;
    padding: 20px;
    width: 600px;  // Set your desired width
    max-height: 80%;  // Limit max height to prevent overflow
    overflow-y: auto;  // Enable vertical scrolling if content is too tall
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);  // Add some shadow for depth
}

.closeButton {
    position: absolute;  // Position the close button
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;  // Change cursor to pointer
    color: #e74c3c;  // Close button color
}
  
  .articleTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .articleAuthors, .articleSource, .articlePubYear, .articleDoi {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .articleSection {
    margin-top: 15px;
  }
  
  .articleSectionTitle, .articleStatus {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .articleText {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .doiLink {
    color: #3498db;  // Change this to your desired link color
  }
  
  .statusText {
    font-weight: bold;  // Make status text bold
  }

  .inputArea {
    min-height: 50px;           // Set a minimum height for better usability
    word-wrap: break-word;      // Enable word wrapping
    overflow: auto;             // Add scroll if content overflows
    padding: 8px;               // Optional: add some padding for better appearance
    border: 1px solid #ccc;     // Optional: add a border
    border-radius: 4px;         // Optional: add rounded corners
    font-size: 14px;            // Optional: set font size
    line-height: normal;        
    width: 100%;                // Full width of the container
    resize: vertical;      
}

.labelContainer {
  width: 120px; 
                 // Set the width of the label container
  display: inline-block;        // Ensure it aligns nicely with the input fields
  vertical-align: top;          // Align the top of the label container with the input fields
}

.inputContainer {
  display: flex;                // Use flexbox to arrange label and input side by side
  align-items: center;          // Center vertically
  margin-bottom: 10px;          // Add space between input sections
}
  
  